@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root{
    --cor1: #2DFAE5;
    --cor2:#1EC1E3;
    --cor3: #219DFD;
    --cor4:#1EE397;
    --cor5:#21FD6A;
    --cor6:#AD3700;
    --cor7:#FA6E2D;

    
    --mainFont: 'Poppins', Arial, 'sans-serif';
    --textFont: 'Noto Serif', times;
    --HeadingFont: 'Amatic SC';
}

*{
    margin: 0px;
    padding:0px;
}

header.container{
    display:grid;
    grid-template-areas: 
     'logo title'
     'logo navegador';

    grid-row-gap: 10px;
    background-image: linear-gradient(to bottom, #DECEA9, #E8D2B0, #D1BCA9, #E8C2B0, #DEB2A9);
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.407);
    border-radius: 0px 0px 15px 15px;
}

div#logo{
    grid-area: logo;
    grid-auto-rows: max-content;
}
div#title{
    grid-area: title;
}
div#navegador{
    grid-area: navegador;
    
}

div#logo{
    width: 200px;   
    padding: 10px;
    margin-left: 20px;
}
header > div > img {
   
    width: 100%;
    height: 100%;
}

header > div#title{
    text-align: center;
    font-weight: 700;
    font-size: 4em;
    font-family: var(--HeadingFont);
    color: white;
    /* padding: 20px 25px;
    margin-left: 23px;
    margin-top:20px; */
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.366);
}

header > nav{
    padding: 0px 0px 15px 15px;
    margin-left: 6%;
}

header > nav > a{
    font: bold 1.5em var(--mainFont);
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.366);
    color: white;
    text-decoration: none; 
}


.link::after{
    content: "|";
    padding:15px;
}

