.footer{
    background-color: var(--cor3);
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.footer_conteudo{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.footer_titulo{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding: 0.8rem;
}

.footer_logo{
    display: block;
    font: 700 2.5rem var(--fontLogo);
    color: white;
}

.footer_referencia{
    display:none;
}

@media screen and (min-width: 1024px) {
    .footer_conteudo{
        width: 20%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .footer_titulo, .footerlogo{
        font-size: 2rem;
    }
    .footer_referencia{
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .referencia_lista{
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }
    .lista_bloco{
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        border-left: 2px solid white; 
        padding: 0 1rem 1.5rem 1.5rem;
    }

    .footercolor{
        color: white;
        font-size: 1.5rem;
        text-align: left;
    }

    .item_link{
        color: white;
        font-weight: 700;
        text-decoration: none;
        padding: 0.3rem 0;
    }
}

@media screen and (min-width: 1400px) {
    .footer_titulo{
        font-size: 2rem;
    }
    .footer_logo{
        font-size: 4rem;
    }
}