.header{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header_logo{
   display: none;
    height: 15vh;
}

.header_titulo, .header_titulo-1024{
    font: 700 4rem var(--fontLogo);
    padding: 0.5rem;
}


.header_nav{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.nav_link, .nav_link-cta{
    display: block;
    text-decoration: none;
    color: var(--cor3);
    font: 400 1.5rem var(--font);
    border-top: 3px solid var(--cor1);
    text-align: right;
    padding: 0.5rem;
}

.nav_link-cta{
    background-color: var(--cor2);
    text-align: center;
    color: white;
    font: 700 2.5rem var(--fontLogo);
}

.nav_link-cta:hover{
    background-image: linear-gradient(to right, var(--cor2), white);
    color: black;
}


.lista_li{
    display: block;
    width: 100%;
}


#itens_menu{
    display: none;
    position: absolute;
    top: 8%;
    background-color: white;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.252);
}

.menu_lista{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
}
.header_titulo-1024{
    display: none;
}

@media screen and (min-width: 1024px) {
    .header{
        justify-content: space-between;
        align-items: stretch;
    }
    
    .header_logo{
        display: block;
        width: 30%;
        height: 10%;
    }

    .header_titulo{
        display:none;
    }

    .header_titulo-1024{
        display:block;
        font-size: 6rem;
    }

    #menu_hamb{
        display: none;
    }
    #itens_menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position:initial;
        background-color: transparent;
        box-shadow: none;
        width: 100%;
    }
    .header_nav{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 70vw;
    }
    .menu_lista{
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .nav_link, .lista_li{
        padding: 0;
        border: none;
        width: auto;
        text-align: center;
    }
    
    .nav_link{
        font-size: 2rem;
    }

    .nav_link-cta{
        font-size: 3.5rem;
    }
}

@media screen and (min-width:1600px) {
    .header_titulo-1024{
        display:block;
        font-size: 10rem;
    }
    .nav_link{
        font-size: 3rem;
    }

    .nav_link-cta{
        font-size: 5rem;
    }
    

}
