.main_section_table{
    width: 100%;
	overflow-x: auto;	
	display:flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.section_table{
	border-collapse: collapse;
	background-color: white;

}

.table_caption{
	background-color: var(--cor1);
    font: 700 1.5rem var(--font);
    padding-bottom: 0.5rem;
}
.table_header{
    padding: 0.5rem;

}

.table_data, .table_header{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.table_font{
	display:block;
	background-color: transparent;
}

@media screen and (min-width: 1024px) {
    .main_section_table{
        width: 98vw;
        padding: 1.3rem 0;
    }
    .table_caption{
        font-size: 2rem;
    }

    .table_header{
        font-size: 1.8rem;
    }

    .table_data{
        font-size: 1.5rem;
    }
    .table_font{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1600px){
    .table_caption{
        font-size: 2.5rem;
    }

    .table_header{
        font-size: 2.3rem;
    }

    .table_data{
        font-size: 2rem;
    }
    .table_font{
        font-size: 2rem;
    }
}
/*Table
    Caption
        Texto direito, descrição
    THead
        tr, td, th (possui o atributo -- scope = "col" / "row")
    Tbody
        tr, td, th
    TFoot
        tr, td, th

    colspan: 2 (um dado que ocupa duas colunas
    rowspan: 2(um dado que ocupa 2 linhas)
*/